<aside id="sidebar">
    <div class="d-flex">
        <button id="toggle-btn" type="button">
            <i class="bi bi-grid"></i>
        </button>
        <div class="sidebar-logo">
            <a href="#">PacificMETA</a>
        </div>
    </div>
    <ul class="sidebar-nav">
        <li class="sidebar-item">
            <a href="{{ url_for('home.home') }}" class="sidebar-link">
                <i class="bi bi-house"></i>
                <span>Home</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="{{ url_for('overall.overall') }}" class="sidebar-link">
                <i class="bi bi-bar-chart"></i>
                <span>Overall</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="{{ url_for('minigame.minigames') }}" class="sidebar-link">
                <i class="bi bi-controller"></i>
                <span>Minigames</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="{{ url_for('user.user') }}" class="sidebar-link">
                <i class="bi bi-people"></i>
                <span>User</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="{{ url_for('settings.settings') }}" class="sidebar-link">
                <i class="bi bi-gear"></i>
                <span>Settings</span>
            </a>
        </li>
    </ul>
    <div class="sidebar-footer">
        <a href="{{ url_for('login.logout') }}" class="sidebar-link">
            <i class="bi bi-box-arrow-left"></i>
            <span>Logout</span>
        </a>
    </div>
</aside>