body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #dddddd;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Top tab / header */
header {
    background: #0b0c10;
    color: #add8e6;
    padding: 1.5rem 2rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    letter-spacing: 1px;
}

/* Index CSS*/
.container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    padding: 2rem;
}

.card {
    width: 190px;
    height: 254px;
    background: #07182E;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
}

.card:hover {
    background: #444;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(255, 255, 255, 0.3);
}

.card::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
    z-index: 0;
}

.card::after {
    content: '';
    position: absolute;
    background: #07182E;
    inset: 5px;
    border-radius: 15px;
    z-index: 1;
}

a.card {
    z-index: 2;
    position: relative;
    color: white;
    font-size: 2em;
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes rotBGimg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.card::before,
.card::after {
    pointer-events: none;
}

.card span {
    z-index: 2;
    position: relative;
}

.card:hover span h4 {
    color: #66fcf1;
    text-shadow: 0 0 8px rgba(102, 252, 241, 0.6);
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

/* Overall Analysis CSS */
.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.chart-card {
    background: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1500px;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

.chart-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

canvas {
    width: 100% !important;
    height: auto !important;
}

.insights-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

#avg-scores-analysis,
#error-frequency-analysis,
#duration-analysis,
#overall-user-analysis {
    color: black;
    white-space: pre-wrap;
    line-height: 1.6;
}

/* User Analysis CSS */
.selection-container {
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.stats-container {
    padding: 2rem;
    display: block;
    justify-content: center;
}

.selection-card {
    background: #ffffff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

.stats-card {
    background: #ffffff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.stats-card canvas {
    max-height: 300px;
    width: 100% !important;
    height: auto !important;
}


.form-group {
    margin-bottom: 1.5rem;
}

.results-table .btn {
    border: none;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 0.85rem;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    background: #506dff;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.results-table .sparkle {
    fill: white;
    width: 16px;
    height: 16px;
    transition: transform 0.3s ease;
}

.results-table .text {
    font-weight: 600;
    color: #AAAAAA;
    font-size: medium;
}

.results-table .btn .text {
    color: white;
    font-weight: 600;
}

.results-table .btn:hover {
    background: #354ee2;
    transform: translateY(-1px);
}

.results-table .btn:hover .text {
    color: #eaf4ff;
}

.results-table .btn:hover .sparkle {
    transform: scale(1.2);
}

.results-summary-container {
    margin: 2rem auto;
    font-family: "Hanken Grotesk", sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 480px;
    gap: 10px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backface-visibility: hidden;
}

.results-summary-container .heading-primary,
.results-summary-container .heading-secondary,
.results-summary-container .heading-tertiary {
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 15px;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.results-summary-container .heading-primary {
    font-size: 46px;
    font-weight: 700;
    background-image: linear-gradient(to right, #00c6ff, #00d5ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.4);
}

.results-summary-container .heading-secondary {
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
    letter-spacing: 1px;
}

.results-summary-container .heading-secondary--blue {
    color: #303B5A;
}

.results-summary-container .heading-tertiary {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #EBF1FF;
}

.results-summary-container .results-summary-container__result {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
    border-radius: 30px 10px;
    background-image: linear-gradient(to bottom right, #1e3c72, #2a5298);

    .result-box {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-position: 100% 50%;
        background-image: linear-gradient(to bottom, #1e3c72, #2a5298);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .result {
        margin-top: -18px;
        font-size: 14px;
        font-weight: 400;
        color: #C7D9FF;
    }
}

.results-summary-container .results-summary-container__options {
    padding: 10px;
}

.results-summary-container .summary-result-options {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.results-summary-container .result-option {
    width: 210px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}

.results-summary-container .result-option-averagescore {
    background-color: #FFF6E5;
}

.results-summary-container .result-option-completedattempts {
    background-color: #E5FFF9;
}

.results-summary-container .result-option-failedattempts {
    background-color: #FFE5E5;
}

.results-summary-container .result-option-minscore,
.results-summary-container .result-option-maxscore {
    background-color: #E7EAFD;
}

.results-summary-container .icon-box {
    display: flex;
    font-size: 14px;
    align-items: center;
    gap: 1px;
}

.results-summary-container .failedattempts-icon-text {
    color: #FF5757;
}

.results-summary-container .averagescore-icon-text {
    color: #FF9D00;
}

.results-summary-container .completedattempts-icon-text {
    color: #00BFA3;
}

.results-summary-container .minscore-icon-text,
.results-summary-container .maxscore-icon-text {
    color: #1125D4;
}

.results-summary-container .result-box {
    font-size: 14px;
    font-weight: 700;
}

.results-summary-container .result-box span {
    font-size: 14px;
    color: #303B5A;
}

.results-summary-container .icon {
    cursor: pointer;
    filter: grayscale(1);
    transition: 0.3s linear;
}

.results-summary-container .icon:hover {
    filter: grayscale(0);
}
