<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>My Flask App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>
<body>
  <header>
    Game Analysis Dashboard
  </header>
  <div class="container">
    <a href="{{ url_for('overall') }}" class="card">Overall</a>
    <a href="{{ url_for('session') }}" class="card">Session</a>
    <a href="{{ url_for('user') }}" class="card">User</a>
  </div>
</body>
</html>
