<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'common/head.html' %}
    <title>PacMeta Game Analysis Dashboard</title>
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar -->
        {% include 'common/sidebar.html' %}
        <!-- Main Content -->
        <div class="main">
            {% include 'common/header.html' %}

            <div class="container">
                <a href="{{ url_for('overall.overall') }}" class="card"><span>
                        <h4>Overall</h4>
                    </span></a>
                <a href="{{ url_for('minigame.minigames') }}" class="card"><span>
                        <h4>Minigames</h4>
                    </span></a>
                <a href="{{ url_for('user.user') }}" class="card"><span>
                        <h4>User</h4>
                    </span></a>
            </div>
        </div>
    </div>
</body>

</html>